a{
  color: #000000;
  text-decoration: none;
  font-size: 15px;
}
body{
  background-color: #101010;
}

.main_content{
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  width: 1200px;
  height: auto;
}
.sub_content{
  background-color: #FFFFFF;
  margin: 5px;
}

#focus{
  color: red;
}
